lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

coverage

node_modules
npm-debug.log
lerna-debug.log

build
dist

.idea
.vscode
.history
.DS_Store

# .tfstate files
*.tfstate
*.tfstate.*

# Dependency lock file
.terraform.lock.hcl

.terraform

release_notes.md
